Flask==0.10.1
Jinja2==2.11.3
MarkupSafe==0.19
Werkzeug==0.9.4
beautifulsoup4==4.3.2
dumptruck==0.1.5
geopy==0.99
gunicorn==18.0
itsdangerous==0.23
pymongo==2.6.3
python-dateutil==2.2
requests==2.2.1
scraperwiki==0.3.8
six==1.7.3
virtualenv==1.11.4
